mongodb-data/
dump/
mongodb-dump/

# Dependency directories
node_modules

# admin stuff
# cleanup.js

# Builds
build/
client-app/

#Logs
*.log

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*